# Sample configuration — copy to .env and fill in your values
# Do NOT commit .env to version control

# Backend API base URL
VITE_API_URL=http://127.0.0.1:8000

# Logic App Feedback URL
VITE_LOGIC_APP_FEEDBACK_URL=https://prod-19.polandcentral.logic.azure.com:443/workflows/22c38387803b45e281a3d07cb2cdc29a/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=m-wFznf4XdHy5ECVewdqyttCFFl9AuuxhEo-Ij3AOpQ
