APP_NAME=tul-psi-monitoring-sample
APP_ENV=local
LOG_LEVEL=INFO
PROJECTS_DATA_FILE=services/fake_projects.json
SIMULATED_DB_DELAY_MS=35
SIMULATED_HTTP_DELAY_MS=55
OTEL_ENABLED=true
OTEL_SERVICE_NAME=tul-psi-fastapi-sample
OTEL_SERVICE_VERSION=0.1.0
OTEL_TRACES_EXPORTER=otlp
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_TRACES_SAMPLER=parentbased_traceidratio
OTEL_TRACES_SAMPLER_ARG=1.0
OTEL_ENABLE_AZURE_MONITOR=false
AZURE_MONITOR_CONNECTION_STRING=
METRICS_PATH=/metrics
