@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-tul-blue: #0077c8;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-900;
  }
  button, select {
    @apply cursor-pointer;
  }
  button:disabled, select:disabled {
    @apply cursor-default;
  }
}
