name: Validate JSON
on: [pull_request]

jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check JSON syntax
        # Use jq to validate JSON syntax
        run: cat data/teams.json | jq .